<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.viraj.vj_custompatternlock">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.viraj.vj_custompatternlock.MainActivity"
            android:label="@string/app_name">

        </activity>
        <activity android:name="com.example.viraj.vj_custompatternlock.SecurityPattern.DrawSecurityPattern" />
        <activity android:name="com.example.viraj.vj_custompatternlock.SecurityPattern.DrawConfirmSecurityPattern" />
        <activity android:name="com.example.viraj.vj_custompatternlock.SecurityPattern.PatternlockScreen" />
        <activity android:name="com.example.viraj.vj_custompatternlock.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>